@import 'utils/vars';
@import "utils/mixins";
@import "utils/extends";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "reset";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
}

@import 'page';
@import 'modal';
