.modal {
  width: $containerWidth;
  border-radius: $borderRadius;
  overflow: hidden;
  background-color: #FFF;

  @include adaptiv(900px) {
    max-height: 100vh;
    overflow-y: auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $verticalPadding 20px $verticalPadding 24px;
    background-color: #f1f2f4;

    @include adaptiv($mobileCheckPointWidth) {
      padding: $verticalPadding $horizontalPaddingMobileScreen;
    }
  }

  &__title {
    @include title (20px, 600, #2f373e);
  }

  &__close-button {
    width: $iconButtonCloseSize;
    height: $iconButtonCloseSize;
    background-color: inherit;
    border-width: 0;
    cursor: pointer;

    @include adaptiv($mobileCheckPointWidth) {
      display: none;
    }
  }

  &__close-icon {
    object-fit: cover;
    object-position: center;
  }

  &__alert {
    display: flex;
    align-items: center;
    padding: $verticalPadding $horizontalPadding;
    border-top: 1px solid #E3E6E9;
    background-color: #E8F2Fa;

    @include adaptiv($mobileCheckPointWidth) {
      padding: $verticalPadding $horizontalPaddingMobileScreen;
    }
  }

  &__alert-icon {
    @include icon-property (16px, $iconAlertSize, $iconAlertSize, url("../img/icons-32-info-color.svg"));
  }

  &__container {
    padding: 36px 0 20px;

    @include adaptiv($mobileCheckPointWidth) {
      padding: 24px 0 12px;
    }
  }

  &__alert-text {
    @extend %text;
  }

  &__body {
    display: flex;
    margin-bottom: 17px;
    padding: 0 $horizontalPadding;

    @include adaptiv($mobileCheckPointWidth) {
      margin-bottom: 13px;
      padding: 0 $horizontalPaddingMobileScreen;
    }
  }

  &__body-icon {
    @include icon-property (24px, 48px, 48px, url("../img/icons-48-type.svg"));
    @include adaptiv($mobileCheckPointWidth) {
      margin-right: 16px;
    }
  }

  &__body-title {
    @include title ($secondFontSize, 600, #38424b);
    margin-bottom: 3px;
  }

  &__body-description {
    @extend %text;
  }

  &__container-top {
    padding: 0 $horizontalPadding;

    @include adaptiv($mobileCheckPointWidth) {
      margin-bottom: 13px;
      padding: 0 $horizontalPaddingMobileScreen;
    }
  }

  &__inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + #{$gap});
    margin: 0 0 10px -#{$gap};
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;

    &--left {
      flex: 2.1 1 0%;
      min-width: 240px;
      margin-left: $gap;


      @include adaptiv($mobileCheckPointWidth) {
        margin-bottom: 8px;
      }
    }

    &--right {
      flex: 1 1 0%;
      min-width: 120px;
      margin-left: $gap;
    }
  }

  &__label {
    width: fit-content;
    margin-bottom: 4px;
    @extend %titleBold;
  }

  &__input {
    width: 100%;
    height: 32px;
    padding: 3px 8px 5px;
    border: 1px solid #81919D;
    border-radius: $borderRadius;

    @include adaptiv($mobileCheckPointWidth) {
      height: 40px;
      padding: 6px 12px 10px;
    }

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: $mainFontSize;
      color: #667988;
    }
  }

  &__preview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    @include adaptiv($mobileCheckPointWidth) {
      margin-bottom: 6px;
    }
  }

  &__preview-mark {
    @extend %titleBold;
  }

  &__preview-link {
    font-size: 12px;
    color: #076dbd;

    @include hover(color, rgba(30, 64, 175, 1));

  }

  &__styles {
    display: flex;
    height: $blockStylesHeight;
    margin-bottom: 20px;
    background-color: #f6f8fb;
    border-radius: $borderRadius;

    @include adaptiv($mobileCheckPointWidth) {
      margin-bottom: 16px;
      height: $blockStylesHeightMobileHeight;
    }
  }

  &__styles-name {
    display: flex;
    justify-content: center;
    align-items: center;

    &--full {
      flex: 2.1 1 0%;
      padding-right: 6px;
      border-right: 1px solid #e0e6ed;
    }

    &--first {
      flex: 1 1 0%;
      padding-left: 6px;
    }
  
  }

  &__styles-image {

    &--left {
      width: 166px;
      height: 25px;
    }

    &--right {
      width: 50px;
      height: 25px;
    }
  }

  &__decoration {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

    @include adaptiv($mobileCheckPointWidth) {
      margin-bottom: 16px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: calc(50% + 1px / 2);
      width: calc(50% - 15px);
      height: 1px;
      background-color: #e3e6e9;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__decoration-mark {
    color: #667988;
  }

  &__file {
    display: none;
  }

  &__file-label {
    display: flex;
    margin-bottom: 32px;
    padding: 20px 24px;
    border: 1px solid #d5dade;
    border-radius: $borderRadius;

    @include adaptiv($mobileCheckPointWidth) {
      padding: $verticalPadding;
      margin-bottom: 24px;
    }
  }

  &__file-icon {
    @include icon-property (24px, $iconFileSize, $iconFileSize, url("../img/icons-48-upload-image.svg"));
    @include adaptiv($mobileCheckPointWidth) {
      margin-right: 16px;
    }
  }

  &__file-title {
    @include title ($secondFontSize, 600, #38424b);
    margin-bottom: 3px;
  }

  &__file-text {
    @extend %text;
  }
  
  &__form-buttons {
    display: flex;
    justify-content: space-between;
    padding: 19px $horizontalPadding 0 ;
    border-top: 1px solid #e3e6e9;

    @include adaptiv($mobileCheckPointWidth) {
      padding: 19px $horizontalPaddingMobileScreen 0;
    }
  }

  &__form-button {
    height: 40px;
    border-radius: $borderRadius;
    font-size: $secondFontSize;
    line-height: $mainLineHeight;
    font-weight: 600;
    cursor: pointer;

    &--cansel {
      color: #38424b;
      width: 120px;
      background-color: #e3e6e9;

      @include hover(background-color, rgba(209, 213, 219, 1));

      @include adaptiv($mobileCheckPointWidth) {
        width: calc(50% - #{$gap / 2});
      }
    }

    &--sign {
      width: 136px;
      color: #fff;
      background-color: #0777cf;

      @include hover(background-color, rgba(29, 78, 216, 1));

      @include adaptiv($mobileCheckPointWidth) {
        width: calc(50% - #{$gap / 2});
      }
    }
  }
}
