@mixin icon-property ($size, $iconWidth, $iconHeight, $img) {
  margin-right: $size;
  width: $iconWidth;
  height: $iconHeight;
  flex-shrink: 0;
  background: $img no-repeat center / cover;
}

@mixin title ($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin adaptiv ($_value) {
  @media (max-width: $_value) {
    @content;
  }
}