$containerWidth: 776px;
$mainFontSize: 14px;
$mainLineHeight: 24px;
$secondFontSize: 16px;
$iconButtonCloseSize: 16px;
$iconAlertSize: 32px;
$iconFileSize: 48px;
$horizontalPadding: 32px;
$borderRadius: 4px;
$blockStylesHeight: 68px;
