$containerWidth: 776px;
$mainFontSize: 14px;
$mainLineHeight: 24px;
$secondFontSize: 16px;
$iconButtonCloseSize: 16px;
$iconAlertSize: 32px;
$iconFileSize: 48px;
$verticalPadding: 16px;
$horizontalPadding: 32px;
$horizontalPaddingMobileScreen: 12px;
$borderRadius: 4px;
$blockStylesHeight: 68px;
$blockStylesHeightMobileHeight: 96px;
$mobileCheckPointWidth: 600px;
$gap: 12px;
